* {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

span.front-font {
    font-size: 1.2em
}
h1{
    margin-bottom: 15px;
}
ul {
    list-style: none;
    margin-top: 10px;
}

li {
    list-style: none;
    padding: 5px;
}